<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyhub.user.mapper.UserMapper">

    <select id="existsByEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM users WHERE email = #{email}
    </select>

    <select id="existsByNickname" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM users WHERE nickname = #{nickname}
    </select>

    <insert id="signup" parameterType="com.studyhub.user.dto.UserDto">
        INSERT INTO users (email, password, nickname, create_date)
        VALUES (#{email}, #{password}, #{nickname}, NOW())
    </insert>

    <select id="findByNickname" parameterType="com.studyhub.user.dto.UserDto">
        SELECT * FROM users WHERE nickname = #{nickname}
    </select>

    <select id="findByEmail" parameterType="String" resultType="com.studyhub.user.dto.UserDto">
        SELECT
        email,
        password,
        nickname
        FROM users
        WHERE email = #{email}
    </select>

</mapper>