@font-face {
  font-family: "KakaoBold";
  src: url("./fonts/kakao-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KakaoRegular";
  src: url("./fonts/kakao-regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
